body {
    padding: 20px;
}

#results {
    min-height: 40px;
}

#share {
    width:400px;
    display: none;
}

.clickable {
    display: inline-block;
    margin: 0 5px 5px 0;
}

.part {
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 4px;
    border: 1px #999 solid;
    border-radius: 3px;
}

.part:hover {
    color: #aaa;
    cursor: crosshair;
}