
@font-face {
    font-family: 'Gotham Medium';
    src: url(../fonts/gotham-medium.eot);
    src: url(../fonts/gotham-medium.eot?#iefix) format('embedded-opentype'),
    url(../fonts/gotham-medium.woff) format('woff'),
    url(../fonts/gotham-medium.ttf) format('ttf');
}

@font-face {
    font-family: 'Gotham Bold';
    src: url(../fonts/gotham-bold.eot);
    src: url(../fonts/gotham-bold.eot?#iefix) format('embedded-opentype'),
    url(../fonts/gotham-bold.woff) format('woff'),
    url(../fonts/gotham-bold.ttf) format('ttf');
}

body {
    padding: 20px;
}

#results {
    min-height: 40px;
    padding-top: 20px;
}

#results button {
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    border-radius: 10px;
    background-color: #060A5B;
    border-color: #060A5B;
}

#share {
    width: 400px;
    display: none;
}

#input {
    width: 410px;
}

.clickable {
    display: inline-block;
    margin: 0 5px 5px 0;
}

#phrase .part {
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 4px;
    border: 1px #999 solid;
    border-radius: 3px;
}

#phrase .part:hover {
    color: #aaa;
    cursor: crosshair;
}

.popular {
    border-top: 1px dashed #060A5B;
    width: 850px;
}

.popular .part {
    margin: 0 5px 5px 0;
}

.popular a {
    display: block;
    color: #060A5B;
    font-size: 14px;
    font-family: 'Gotham Bold';
}

/* HTML */

body {
    min-width: 1250px;
}

#content {
    min-width: 1250px;
    position: absolute;
    left: 50%;
    margin-left: -625px;
    margin-top: 20px;
}

#main-block {
    width: 650px;
    float: left
}

#left-block {
    width: 285px;
    /*border: 1px solid #444;*/
    float: left;
}

#right-block {
    /*border: 1px solid #8f3;*/
}

#main-block a {
    display: block;
}

#main-icon {
    margin: 10px 45px 25px 60px;
    width: 180px;
    display: block;
}

#main-icon img {
    width: 180px;
}

.small-icon {
    margin: 10px 65px 25px 85px;
    display: block;
}

.small-icon, .small-icon img {
    width: 99px;
    height: 124px;
}

#hillary-icon:hover {
    content: url(../images/hillary_page.png);
}

#bernie-icon:hover {
    content: url(../images/bernie_page.png);
}

#donald-icon:hover {
    content: url(../images/donald_page.png);
}

#right-block {
    width: 850px;
    /*float: left;*/
    margin: 40px 0 40px;

}

#title {
    float: left;
    margin-right: 45px;
    font-family: 'Gotham Bold';
    font-weight: 900;
    text-transform: uppercase;
    font-size: 100px;
    color: #060A5B;
    line-height: 100px;

}

#description {
    font-size: 23px;
    font-family: 'Gotham Bold';
    display: block;
    color: #060A5B;
}

.popular span {
    font-size: 45px;
}

#all {
    border-top: 1px dashed #060A5B;
    margin-top: 10px;
    width: 850px;

}

#all .category-title {
    font-family: 'Gotham Bold';
    text-align: right;
    font-size: 45px;
    color: #ccc;
}

#all .category {
    padding-bottom: 40px;
    border-bottom: 1px dashed #060A5B;
}
#all .category:last-child {
    border: none;
}

.clickable, #results button{
    font-family: 'Gotham Bold';
    font-size: 30px;
}

#phrase .part {
    font-family: 'Gotham Bold';
    font-size: 30px;
}

#play_button {
    font-family: 'Gotham Bold';
    padding-top: 10px;
    font-size: 40px;
    line-height: 55px;
}